body{
    font-family: 'Kanit', sans-serif;
}

p{
    font-weight: bold;
    color: green;
}

h1{
    font-size: 50px;
}

section{
    display: flex;
}
.welcome img{
    width: 55%;
    padding: 15px;
    margin-bottom: 50px;
    border-radius: 75%;
}
.welcome{
    width: 100%;
    padding-left: 5%;
}
#hire-btn{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 30px;
    font-weight: 700;
    cursor: hand;
}

.background{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream
{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}